._navlinks li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #b178f1;
  display: block;
  margin: auto;
  transition: 0.5s;
}
._navlinks li:hover::after {
  width: 100%;
}

._navlinks {
}

._icon2 {
  display: none;
}

._icon1 {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 10px;
  display: none;
}

@media (max-width: 640px) {
  /* ._navlinks {
    display: block;
    position: absolute;
    top: 100px;
    right: 0px;
  } */

  /* .nav {
    display: none;
    transition: 0.1s;
  } */

  ._navlinks {
    display: block;
    background: #985cdd;
    color: white;
    position: absolute;
    top: 0px;
    right: -200px;
    height: 100vh;
    width: 200px;
    text-align: left;
    z-index: 5;
    transition: 0.4s;
  }

  ._navlinks li {
    margin: 0px 33px;
  }

  ._navlinks li:hover::after {
    width: 0%;
  }

  ._icon1 {
    display: block;
  }
  ._icon2 {
    display: block;
  }

  /* navbar seach btn */

  ._search {
    width: 0px;
    transition: 0.2s;
  }
}
