*{
  font-family: 'Jost', sans-serif;
}

.font{
    font-family: 'Inter', sans-serif;
  }
  
  button{
  font-family: 'Inter', sans-serif;
}

.myShadow {
  box-shadow: 0 0 20px rgba(176, 176, 176, 0.2);
}